@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: red;
}

.containertypewriter{
  display: inline-block;
}
.typed-out {
  display: inline-block; /* Ensures width respects content */
  overflow: hidden;
  border-right: .15em solid cyan;
  white-space: nowrap;
  animation: typing 1.5s steps(21) forwards; /* Steps to match character count */
  font-size: 1.6rem;
  width: 0;
}

@keyframes blink {
  50% { border-color: transparent; }
}
@keyframes typing {
  from { width: 0ch; }
  to { width: 21ch; } /* Adjust based on text length */
}


@media screen and (max-width: 340px) {
  .handle-small {
    display:none;
  }
  
}
@media screen and (min-width: 1024px) and (max-width: 1170px) {
  .smalldevicemargin {
    margin-left: 4rem !important;
    margin-right: 4rem !important;
  }
}




