@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: red;
}

.containertypewriter{
  display: inline-block;
}
.typed-out {
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid white; /* Cursor effect */
  white-space: nowrap;
  font-size: 1.6rem;
  line-height: 0.5rem;
  animation: typing 2s steps(30, end) forwards,
             blink 2s step-end forwards; /* Same duration as typing, stops after */
}

@keyframes typing {
  from { width: 0ch; }
  to { width: 21ch; }
}

@keyframes blink {
  0%, 50% { border-color: white; } /* Blink during first half */
  51%, 100% { border-color: transparent; } /* Hide after 50% */
}


@media screen and (max-width: 340px) {
  .handle-small {
    display:none;
  }
  
}
@media screen and (min-width: 1024px) and (max-width: 1170px) {
  .smalldevicemargin {
    margin-left: 4rem !important;
    margin-right: 4rem !important;
  }
}





